body {
  font-family: "Titillium Web", sans-serif;
  height: 100vh;
  margin: 0;
}
.page-container {
  padding: 30px;
  height: 92vh;
}

.login-wrapper {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 80%;
  flex-direction: column;
}

.login-container,
.form-container {
  width: 420px;
  margin: 30px auto;
  padding: 32px;
  border: 1px solid #ffffff33;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-header {
  text-align: left;
  width: 7%;
  color: #fff;
  margin-bottom: 20px;
}

.login-title,
.divider-text {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.login-title {
  margin-bottom: 4rem;
}

.divider-text {
  color: #40a9ff;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-form-group {
  border: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 8px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
}

.login-form-label {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.login-form-label[for="username"]::after {
  background: white;
  bottom: 0px;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  width: 100%;
}

.login-form-input {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding-block: 10px;
}

.login-form-input::placeholder {
  color: #91d5ff;
}

.login-form-input[type="text"] {
  border: solid 1px white;
  padding-inline: 10px;
}

.login-form-input[type="password"] {
  border: solid 1px white;
  padding-inline: 10px;
}

.login-form-submit {
  height: 0;
  visibility: hidden;
}

.login-validation-container {
  text-align: left;
}

.login-validation-container.validation-success {
  color: white;
}

.login-validation-container.validation-error {
  color: #ff4d4f;
}

.login-validation-container.validation-info {
  color: #91d5ff;
}

.login-validation-container.validation-warning {
  color: #fa8c16;
}

.social-link {
  display: block;
  color: white;
  padding: 13px 21px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 32px;
  border: 1px solid #fff;
  font-size: 24px;
  text-decoration: none;
  position: relative;
}
.social-link img.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
}
